.li-style {
    list-style: none;
}

.styleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: aqua;
    border-radius: 30px;
    box-shadow: 0px 0px 4px black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul {
    padding-right: 40px;
}

img {
    border-radius: 20px;
    box-shadow: 0px 0px 4px black;
    width: 700px;
}